*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.body-wrapper{
    width: 100%;
    height: 100vh;
    background: linear-gradient(to left, rgb(0, 0, 122), rgb(5, 5, 116));
    display: flex;
    justify-content: center;
    align-items: center;
}
.game-box{
    width: 50vw;
    height: 70vh;
    border: 7px solid rgb(0, 0, 102);
    background: linear-gradient(to left, rgb(9, 9, 128), rgb(29, 1, 131));
    position: relative;

    border-radius: 10px;
}
.title{
    height: 70px;
    /* background-color: green; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: white;
    gap: 20px;
    /* font-size: 25px; */
    font-size: 2vw;
   color: blueviolet;
   width: 100%;
}
.up{
    transform: translateY(-10px);
}
.down{
    transform: translateY(10px);
}
.body{
    padding: 10px;
}
.question-box{
    width: 73%;
    height: 35vh;
    padding: 20px;
    /* background-color: pink; */
    border: 3px solid rgb(1, 16, 92);
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 20px;
}
.option-box{
    display: flex;
    /* border: 1px solid white; */
    width: 73%;
    gap: 10px;
    padding: 10px 0 0 0;
}
.first-option{
    width: 100%;
}
.option{
    width: 100%;
    height: 40px;
    border-radius: 20px;
    /* background-color: pink; */
    border: 3px solid rgb(1, 16, 92);

    display: flex;
    align-items: center;
    padding-left: 20px;
    font-weight: 600;
    color: white;
}
.first-option{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.option:hover{
    background-color: orange;
}
